[Theme]
Name=slgreet
Description=a suckless greeter
Author=Izflir
Copyright=(c) 2026, Izflir
License=MIT
Version=1.2
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Font=Terminus
